<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/css/contact.css">
    </head>
    <body>
        <div class="main-conatiner">
            <div class="envelope-container">
                <input id="flap" type="checkbox">
                <label class="flap" for="flap"></label>
                <div class="envelope-back"></div>
                <div class="card">
                    <div class="form-wrapper">
                        <form action="#">
                            <div class="email">
                                <label for="email-form">sender's email:</label>
                                <input id="email-form" name="email" type="email">
                            </div>
                            <div class="message">
                                <label for="message"></label>
                                <textarea rows="5" cols="60" id="message-form" placeholder="message" name="message"></textarea>
                            </div>
                            <div class="send">
                                <div class="signature-wrapper">
                                    <label for="signature-form">x</label>
                                    <input type="text" name="signature" placeholder="your name" id="signature-form">
                                </div>
                                <button>send</button>
                            </div>
                    </form>
                    </div>
                    
                
                </div>
                <div class="card-front"></div> 
            </div>
        </div>

        <script src="" async defer></script>
    </body>
</html>