@import url(burger-menu.css);

:root{
    --main-bkg-color: #25283D;
    --main-bkg-dark: #202124;
    --main-accent: #7B7DE0;
    --main-contrast: #FF674D;
    --main-contrast-compliment: #D57A66;
    --main-light-color: #F1ECCE;
    --main-text-color: whitesmoke;
}

/*scrollbar styles*/
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-accent);
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #6465b4;
  }

html, body{
    margin: 0;
    box-sizing: border-box;
    background-color: var(--main-bkg-color);
    line-height: 1.75;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--main-text-color);
    position: relative;
    height: 100vh;
    overflow: hidden;
}

header{
    padding: 2em;
    padding-inline: 3em;
    display: flex;
    justify-content: space-between;
}

header img{
    width: 45px;
}

