:root{
    --main-bkg-color: #25283D;
    --main-bkg-dark: #202124;
    --main-accent: #7B7DE0;
    --main-contrast: #FF674D;
    --main-contrast-compliment: #D57A66;
    --main-light-color: #F1ECCE;
    --main-text-color: whitesmoke;
}

/*scrollbar styles*/
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-accent);
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #6465b4;
  }

html, body{
    margin: 0;
    box-sizing: border-box;
    background-color: var(--main-bkg-color);
    line-height: 1.75;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--main-text-color);
}

.intro-wrapper{
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro-beginning{
    color: gray;
}
.intro-beginning span{
    color: var(--main-light-color);
}

.intro-card{
    height: 50%;
    background-color: var(--main-bkg-dark) ;
    display: flex;
    flex-direction: row;
    position: relative;
    color: var(--main-text-color);
    padding: 1em;
    border-radius: 15px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072);
  column-gap: 1em;
}

.intro-card .left-col{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1em;
}

.intro-card .left-col .card-photo{
    height: 12em;
    width: 12em;
   

    border-radius: 100%;

    background-image: url(../images/IMG_5619.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro-card .left-col .name{

}
.intro-card .middle-col{
    display: flex;
    flex-direction: column;
}
.intro-card .middle-col .graphic{
    background: #151618;
    width: 20em;
    height: 50%;
    border-radius: 5px;
}
.intro-card .middle-col ul{
    list-style: circle;
    margin-top: .2em;
    margin-bottom: .2em;
}
.intro-card .middle-col ul h3{
    margin-top: .5em;
    margin-bottom: .5em;
}

.intro-text{
    text-align: center;
    color: var(--main-accent);
}
.intro-text span{
    color: var(--main-contrast);
    text-shadow: var(--main-light-color) .5px .5px;
}

.about-wrapper{
    position: relative;
}
.about-wrapper .svg-wrapper{
    position: absolute;
    top:0; 
    right:0; 
    width:100%;
    height:auto;
 }